<% qs = Question.all %>
<% id = qs.joins(:answers).group(:id) %>
<% q = Question.where("id NOT IN (?)", id.ids) %>

<% q.each do |q| %>
  <h3><%=q.title%></h3>


  <%=q.question%><br><br/>
  <a href="/answers/<%=q.id%>/answer">Answer</a>
<% end %>

