<% qs = Question.all %>
<% id = qs.joins(:answers).group(:id) %>
<% q = Question.where("id NOT IN (?)", id.ids) %>

<div class="card border-light mb-3" style="max-width: 50rem;">
  <div class="card-header">
    Questions for you
  </div>

  <% q.each do |q| %>
    <div class="card-body">
      <h5 class="card-title"><%=q.title%></h5>
      <p class="card-text"><%=q.question%></p>
      <a href="/answers/<%=q.id%>/answer" class="btn btn-primary">Answer</a>
    </div>
  <% end %>
</div>

