<p><strong>Sign Up</strong></p>
<form action="/signup" method="POST">
  First Name:<br/>
	<input name="first_name" placeholder="John"><br>
  Last Name:<br/>
  <input name="last_name" placeholder="Smith"><br>
  Email:<br/>
  <input name="email" placeholder="example@email.com"><br>
  Password:<br/>
  <input type="password" name="password" placeholder="password"><br>
	<input type="submit">
</form>