<html>

  <head>

    <title>Quora Clone</title>

  </head>

  <body>
    <div class="navigation">
        <li id="header" style="list-style-type: none"><h1><a href="/" style="text-decoration: none">Quora.</a></h1></li>
        <li id="navright" style="list-style-type: none"><a href="/" style="text-decoration: none">home</a></li>
        <li style="list-style-type: none"><a href="/answer" style="text-decoration: none">answer</a></li>
        <li style="list-style-type: none"><a href="/" style="text-decoration: none">search</a></li>
        <li style="list-style-type: none"><a href="/questions/new" style="text-decoration: none">Add Question</a></li>
    </div>

   <!--  <h3>Answer Question</h3> -->

    <h3>Edit Question</h3><br>

		<form action="/questions/<%= @question.id %>/edit" method="POST">
			Title<br>
			<input name="title" value="<%=@question.title%>"><br>
			Description<br>
			<textarea name="description" rows="10"><%=@question.question%></textarea><br>
			<input type="submit">
		</form>
		<br/>
		<a href="/questions/<%=@question.id%>">back</a>

    

  </body>

</html>



