<html>

  <head>

    <title>Quora Clone</title>

  </head>

  <body>

    <a href="/" style="text-decoration: none"><h1>Quora Clone</h1></a>

    <h3>New Question</h3>

    <form action="/questions" method="POST">
    	Title<br>
    	<input name="title"><br>
    	Description<br>
    	<textarea name="description" rows="10"></textarea><br>
    	<!-- <textarea id="txtArea" rows="10" ></textarea><br> -->
    	<input type="submit">
    </form>
      <a href="/">Home</a>

    

  </body>

</html>



